{
	"JIRAUsername": "username",
	"JIRAPassword": "pass",
	"JIRAHost": "host",
	"GitHubLinkFieldName": "name",
	"GitHubLinkFieldID": "customfield_id",
	"GitHubLabelsRelevantToSearch": ["label"],
	"GitHubPreloadRepoOwner": "foo",
	"GitHubPreloadRepoName": "bar",
	"GitHubUsers": ["foo", "bar"],
	"GitHubUsername": "username",
	"GitHubPassword": "password",
	"GitHubJIRAUserMapping": {
		"foo": "foo",
		"bar": "bar"
	},
	"TimeForCreatingJIRATicket": 86400,
	"JIRATeamID": "1337",
	"JIRABoardID": "667"
}
